{% extends 'base.html' %}

{% block content %}
<h1>Правка данных</h1>
<form action="" method="POST">
    {{ form.hidden_tag() }}
    <p>
        {{ form.topic.label }}<br>
        {{ form.topic(size=64)}}<br>
        {% for error in form.topic.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.body.label }}<br>
        {{ form.body(size=100)}}<br>
        {% for error in form.body.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}  
    </p>
    <p>
        {{ form.time_end.label }}<br>
        {{ form.time_end()}}<br>
        {% for error in form.time_end.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %} 
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}
    